.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 30px;
}

.item {
    font-size: 18px;
}